@import "animations.scss";

* {
  box-sizing: border-box;
}

body {
  height: calc(100vh - 40px);
  // background-attachment: fixed;
  background-color: $dark-gray;
  // background-image: linear-gradient(8deg, $red 0%, $black 20%);
  // background-repeat: no-repeat;
  // background-size: cover;
  color: $gray;
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 20px;
}

a {
  color: $white;
  text-decoration: none;

  &:hover {
    color: $orange;
  }

  &.pill {
    background: $red;
    border-radius: 40px;
    padding: 1rem 3rem;

    &:hover {
      background: $orange;
      color: $white;
    }
  }

  &.btn {
    background: $btn-gradient;
    display: inline-block;
    overflow: hidden;
    padding: 5px 20px;

    span {
      position: relative;
      z-index: 1;
    }

    &:hover:after {
      transform: translateX(-9%) translateY(-25%) rotate(45deg);
    }

    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 490%;
      width: 140%;
      background: $orange;
      transition: all 0.5s ease-in-out;
      transform: translateX(-98%) translateY(-25%) rotate(45deg);
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 300;
}

h1 {
  color: $white;
  font-size: 3.5rem;
}

h2 {
  color: $white;
  font-size: 2.75rem;
  margin: 2rem 0;
}

h3 {
  border-bottom: 1px dashed $gray;
  color: $gray;
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 3px;
  margin-bottom: 0;
  text-transform: uppercase;
}

p {
  color: $silver;
  line-height: 1.5;
  margin-bottom: 1rem;

  strong {
    color: $white;
    font-weight: 700;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  width: 50%;
}

article {
  margin: 0 -20px;
  padding: 0 20px;
}

main.app {
  max-width: 1600px;
  margin: 0 auto;
}

.blue {
  color: $blue;
}
.red {
  color: $red;
}
.orange {
  color: $orange;
}

.social-links {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;

  img {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
  }
}

header {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  position: relative;
}

nav {
  display: flex;
  ul {
    display: flex;
    li {
      align-items: center;
      display: flex;
      text-transform: uppercase;
      margin: 0 10px;

      &:last-child a {
        color: $orange;

        &:hover {
          color: $red;
        }
      }

      a {
        font-size: 0.9rem;
        padding: 0 5px;
      }
    }
  }
}

footer {
  align-items: center;
  background: $black;
  color: $gray;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  margin: 0 -20px;
  padding: 0 20px;
  position: relative;
  justify-content: center;

  .top-section {
    display: flex;
    justify-content: center;
  }

  h1 {
    width: 480px;
  }

  nav ul li a {
    font-size: 0.8rem;
  }

  p {
    color: $ghost;
  }

  .social-links {
    display: block;
    margin-left: 5rem;
  }

  img {
    margin-bottom: 3rem;
    width: 200px;
  }
}

@media (max-width: 1300px) {
  h1 {
    font-size: 3rem;
  }
}

@media (max-width: 1100px) {
  h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 600px) {
  img {
    max-width: 100%;
  }
}
