@import "variables.scss";

$small-ember-spacing: 60px;

#capabilities {
  background-color: $silver;
  background-image: url(../assets/ember-angle-left.svg);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  padding: 5rem 20px 6rem 325px;

  .content {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0;
    width: auto;
    z-index: 10;

    h2,
    h4 {
      color: $black;
    }

    img.small-ember {
      background: $silver;
      margin-top: ($small-ember-spacing + 10px) * -1;
      position: relative;
      width: 75px;
      padding: 10px;
    }

    .blocks {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      &:first-of-type .block {
        border-bottom: 1px solid #474747;
      }

      &:last-of-type .block {
        margin-top: ($small-ember-spacing) * -1;
      }

      .block {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 3rem;
        width: 50%;

        &:nth-child(1) {
          border-right: 1px solid #474747;
        }

        h4 {
          margin: 0 0 1rem;
          text-transform: uppercase;
        }

        ul {
          list-style: none;
          margin: 0;
          padding: 0;

          li {
            display: block;
            position: relative;
            text-align: center;
            white-space: nowrap;
            z-index: 100;
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  $small-ember-spacing: 30px;

  #capabilities {
    background-position-x: -20px;
    padding: 2rem 20px 3rem 260px;

    .content {
      padding: 0 1rem 0 0;
      width: 100%;

      img.small-ember {
        margin-top: ($small-ember-spacing + 10px) * -1;
        width: 50px;
      }

      .blocks {
        &:last-of-type .block {
          margin-top: ($small-ember-spacing) * -1;
        }

        .block {
          padding: 2rem 3rem;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  #capabilities {
    padding: 1rem 0 1rem 190px;

    .content {
      h2 {
        margin-bottom: 1rem;
      }

      .blocks .block {
        padding: 1rem;

        ul li {
          font-size: 0.8rem;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  #capabilities {
    background-image: none;
    background-position-x: 0;
    padding: 2rem 1rem;

    .content {
      padding: 0;

      h2 {
        font-size: 2.25rem;
      }

      .blocks .block ul li {
        font-size: 0.7rem;
      }
    }
  }
}
