@import "variables.scss";

#contact {
  background: linear-gradient(180deg, $orange 0%, $red 50%);
  display: flex;
  justify-content: center;
  padding-bottom: 0;
  padding-top: 5rem;

  .content {
    align-items: flex-start;
    display: flex;
    padding: 0 5rem 0 0;

    h2 {
      color: $black;
    }

    h3 {
      border-bottom-color: $yellow;
      color: $yellow;
    }

    a {
      color: $black;
      font-weight: 700;
      text-decoration: underline;
    }

    p {
      color: $white;
    }
  }

  .contact-form {
    align-items: flex-start;
    align-self: center;
    background: $light-gray;
    border-radius: 20px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.16);
    display: flex;
    padding: 4rem;
  }

  .waves {
    margin-left: 0;
  }
}

@media (max-width: 1000px) {
  #contact .contact-form {
    padding: 2rem;
  }
}

@media (max-width: 700px) {
  #contact {
    flex-direction: column;

    .col {
      width: 100%;
    }

    .content {
      padding: 0 0 2rem;
    }

    .contact-form {
      align-self: auto;
      margin-bottom: 3rem;
    }

    .waves {
      margin-left: -20px;
    }
  }
}

@media (max-width: 500px) {
  #contact .contact-form {
    padding: 2rem 1rem;
  }
}
