@import "animations.scss";

#contact {
  background: linear-gradient(180deg, $orange 0%, $red 50%);
  display: flex;
  justify-content: center;
  padding-bottom: 0;
  padding-top: 5rem;

  .content {
    align-items: flex-start;
    display: flex;
    padding: 0 5rem 10rem 0;

    h2 {
      color: $black;
    }

    h3 {
      border-bottom-color: $yellow;
      color: $yellow;
    }

    a {
      color: $black;
      font-weight: 700;
      text-decoration: underline;
    }

    p {
      color: $white;
    }
  }

  .contact-form {
    align-items: flex-start;
    background: $light-gray;
    border-radius: 20px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.16);
    display: flex;
    padding: 4rem;
  }

  .waves {
    margin-left: 0;
  }
}

// @media (max-width: 1000px) {
//   #contact {
//   }
// }

// @media (max-width: 900px) {
//   #contact {
//   }
// }

// @media (max-width: 850px) {
//   #contact {
//   }
// }

// @media (max-width: 600px) {
//   #contact {
//   }
// }
