@import "variables.scss";

#elements {
  background: $black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 6rem;
  padding-top: 5rem;
  position: relative;
  z-index: 10;

  .row {
    margin: 0 auto;
    max-width: 90vw;
  }

  .ember-text {
    margin: 0 auto 7rem;
    width: 80vw;
  }

  .content {
    align-items: flex-start;
    display: flex;
  }

  .triangle {
    display: flex;
    justify-content: center;
    padding-left: 2rem;
  }

  a.pill {
    margin-top: 2rem;
  }
}

@media (max-width: 900px) {
  #elements .row {
    flex-direction: column;

    .col {
      width: 100%;
    }

    .content {
      margin-bottom: 5rem;
    }
  }
}
