@import "animations.scss";

#ethos {
  background: $black;
  background-image: url("../assets/burned-rose.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  padding-bottom: 6rem;
  padding-top: 5rem;
  position: relative;
  z-index: 10;

  .content {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 80vh;
    max-width: 60vw;
    text-align: center;

    a {
      margin-top: 2rem;
    }
  }
}

// @media (max-width: 1000px) {
//   #ethos {
//   }
// }

// @media (max-width: 900px) {
//   #ethos {
//   }
// }

// @media (max-width: 850px) {
//   #ethos {
//   }
// }

// @media (max-width: 600px) {
//   #ethos {
//   }
// }
