@import "variables.scss";

form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    color: $red;
    font-size: 1.75rem;
    margin-top: 0;
    text-align: center;
  }

  .col {
    width: calc(50% - 1.5rem);
    margin: 0 0.75rem 1.5rem;
  }

  sup {
    color: $red;
  }

  input,
  textarea {
    background: transparent;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    display: flex;
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.5rem;
    padding: 0.5rem;

    &:focus,
    &:active {
      border-bottom-color: $red;
      outline: none;
    }
  }

  button {
    background: $black;
    border: none;
    border-radius: 40px;
    color: $white;
    cursor: pointer;
    font-family: "Nunito Sans", sans-serif;
    margin-top: 2rem;
    padding: 0.5rem 3rem;

    &:hover,
    &:focus,
    &:active {
      background: $red;
      color: $white;
    }
  }
}

// @media (max-width: 1000px) {
//   form {
//   }
// }

// @media (max-width: 900px) {
//   form {
//   }
// }

// @media (max-width: 850px) {
//   form {
//   }
// }

// @media (max-width: 600px) {
//   form {
//   }
// }
