@import "variables.scss";

#partners {
  align-items: flex-start;
  background-color: $black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 0;
  padding-top: 0;

  .content {
    background: $dark-gray;
    border-radius: 0 20px 20px 0;
    box-shadow: 0 10px 70px rgba(0, 0, 0, 0.72);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: -20px;
    max-width: 90vw;
    padding: 3rem 2rem;

    .partner-content {
      align-items: flex-start;
      flex-shrink: 2;
      min-width: 350px;
      padding-right: 2rem;
    }

    .partner-logos {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      width: 100%;

      img {
        margin: 0 2rem;
        width: 18%;
      }
    }
  }

  #embers {
    height: 30vh;
    left: 20px;
    position: relative;
    z-index: 10;
  }
}

@media (max-width: 1400px) {
  #partners .content .partner-logos {
    flex-wrap: wrap;

    img {
      margin-bottom: 2rem;
      width: calc(25% - 4rem);
    }
  }
}

@media (max-width: 1200px) {
  #partners .content .partner-logos img {
    margin: 0 1rem 1rem;
    width: calc(25% - 2rem);
  }
}

@media (max-width: 1000px) {
  #partners .content .partner-logos img {
    margin-bottom: 2rem;
    width: calc(50% - 2rem);
  }
}

@media (max-width: 800px) {
  #partners .content .partner-logos img {
    margin: 0 0.5rem;
    width: calc(50% - 1rem);
  }
}

@media (max-width: 700px) {
  #partners {
    .content {
      flex-wrap: wrap;

      .partner-logos img {
        margin: 2rem 1rem;
        width: calc(25% - 2rem);
      }
    }
  }
}

@media (max-width: 500px) {
  #partners {
    .content {
      .partner-content {
        min-width: auto;

        h2 {
          font-size: 2rem;
          margin-bottom: 0;
        }
      }

      .partner-logos img {
        margin: 2rem 1rem;
        width: calc(50% - 2rem);
      }
    }

    #embers {
      left: -160px;
    }
  }
}
