@import "variables.scss";

#welcome {
  background-color: $dark-gray;
  display: flex;
  justify-content: center;
  margin-top: -170px;
  padding: calc(5rem + 170px) 0 0;

  .content {
    align-items: center;

    h1 {
      width: 890px;
    }

    p {
      margin-bottom: 5rem;
      max-width: 60vw;
      text-align: center;
    }

    .cta {
      align-items: center;
      display: flex;
    }
  }

  a.pill {
    margin: 2rem;
  }

  .waves {
    margin-top: 6rem;
  }
}

@media (max-width: 900px) {
  #welcome h1.typewriter {
    font-size: 36px;
    width: 670px;
  }
}

@media (max-width: 700px) {
  #welcome {
    h1.typewriter {
      font-size: 32px;
      width: 590px;
    }

    .content p {
      max-width: 80vw;
    }
  }
}

@media (max-width: 600px) {
  #welcome {
    h1.typewriter {
      font-size: 24px;
      width: 450px;
    }

    .cta {
      flex-direction: column;
    }
  }
}

@media (max-width: 500px) {
  #welcome h1.typewriter {
    font-size: 18px;
    width: 340px;
  }
}
